<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488113538675-n2ajoi3p001r5hr55j2j6e2o2hotbeb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488113538675-n2ajoi3p001r5hr55j2j6e2o2hotbeb1</string>
	<key>API_KEY</key>
	<string>AIzaSyCv2LUp2rDN8FbEbpfnZYge9NcxxYO9dlw</string>
	<key>GCM_SENDER_ID</key>
	<string>488113538675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.chresforme</string>
	<key>PROJECT_ID</key>
	<string>chores-for-me-a638e</string>
	<key>STORAGE_BUCKET</key>
	<string>chores-for-me-a638e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488113538675:ios:b3419a9647be36c6b18c06</string>
</dict>
</plist>